<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	 <div class="container">
		<h1>즐겨찾기 추가하기</h1>
        <form action="/lesson06/quiz01/add-bookmark" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control col-4">
            </div>
            <div class="form-group">
                <label for="address">주소</label>
                <input type="text" id="address" name="address" class="form-control col-4" placeholder="예) 19991201">
            </div>
        	<input type="button" id="addBtn" value="추가" class="btn btn-success">
        </form>    
      </div>
      
      
      <script>
      	$(document).ready(function() {
      	// 2) jquery의 AJAX 통신 이용
    		$("#addBtn").on('click', function() {
    			//alert("클릭");
    		
    			// validation
    			let title = $("input[name=title]").val().trim();
    			if (title.length < 1) {
    				alert("제목을 입력하세요");
    				return;
    			}
    			
    			let address = $("#address").val().trim();
    			if (address == "") {
    				alert("주소를 입력하세요");
    				return;
    			}
    			
    			
    			console.log(title);
    			console.log(address);
    			
    			// AJAX 통신 => 서버에 요청
    			$.ajax({
    				// request
    				type: "POST"
    				, url:"lesson06/quiz01/addbookmark"
    				, data:{"name":name, "yyyymmdd":yyyymmdd, "email":email, "introduce":introduce}
    					
    				// response
    				// callback 함수 
    				, success:function(data) { // data 파라미터: 응답값(String)
    					//alert(data);
    					if (data == "성공") {
    						location.href = "/lesson06/ex01/after-add-user-view";
    					}
    				}
    				, error:function(xhr, status, error) {
    					alert(xhr);	
    					alert(status);	
    					alert(error);	
    				}
    			});
    		});
    	});
    </script>
</body>
</html>